body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Container hidden state */
body:not(.content-ready) .container {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in; /* Smooth fade-in */
}

/* Container visible state */
body.content-ready .container {
    visibility: visible;
    opacity: 1;
}

.container {
    text-align: left;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin-top: 100px; /* Adjust margin for header */
}

.faq-item {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    color: #333;
}

.shortcuts-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
}

.shortcut {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shortcut-key {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 8px;
    background-color: #ddd;
    border-radius: 4px;
    margin-right: 8px;
}

.shortcut-description {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

img[src='https://openmoji.org/data/color/svg/1F310.svg'] {
    vertical-align: -3px;
}