body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #ddd;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    background-image: url(background.png);
}

/* Container hidden state */
body:not(.content-ready) .container {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in; /* Smooth fade-in */
}

/* Container visible state */
body.content-ready .container {
    visibility: visible;
    opacity: 1;
}

.container {
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    margin-top: 2.5em; /* Adjust margin for header */
}

.faq-item {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    color: #333;
}

.shortcuts-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
}

.shortcut {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shortcut-key {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 8px;
    background-color: #ddd;
    border-radius: 4px;
    margin-right: 8px;
}

.shortcut-description {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

img[src='https://openmoji.org/data/color/svg/1F310.svg'] {
    vertical-align: -3px;
}

.difficulty-row {
    display: grid;
    grid-template-columns: 6em 1fr; /* 👈 shifts everything right with fixed label width */
    gap: 1em;
    align-items: start;
    margin: 1em;
}

.label {
    font-weight: bold;
    white-space: nowrap;
}

.desc {
    text-align: left;
}
