body {
    font-family: Arial, sans-serif;
          background-image: url(https://pauldelaq.github.io/tremoji/css/background.png);
    
    color: #666;
    }
    
    h1 {
      color: #4CAF50;
    }
    
    .welcome {
      text-align: center;
      margin-top: calc(68px + 2em);
    }
    
    .emoji {
      width: auto;
      height: 28px;
      transform: translateY(2px);
    }
    
    .survey-container {
      background: rgba(0, 123, 255, 0.65);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em;
      margin-top: 2em;
      max-width: 60%;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 2em;
      margin-top: 2em;
    }
    
    @media (max-width: 500px) {
    .survey-container {
      max-width: 80%;
    }
  }

    .survey-container label {
      color: #FFFFFF; 
      padding: 0.5em;
      
    }
    
    .survey-container p {
      color: #FFFFFF; 
      padding: 1em;
      
    }
    
    .form-section label,
    .form-section .form-field {
      display: inline-block;
      vertical-align: middle;
    }
    
    .form-section label {
      text-align: left;
      width: 200px;
    }
    
    .form-section .form-field {
      width: calc(100% - 2.5em);
      margin-left: 1em;
    }
  
    
    .role {
      margin-left: 1em;
      width: calc(100% - 2em);
    }
    
    .checkbox {
      margin-right: 1em;
    }
    
    .language-section {
      display: flex;
      flex-direction: column;
    
    }
    
    .radio-section {
      display: flex;
      flex-direction: column;
    }
    
    .radio {
      margin-right: 1em;
    }
    
    .checkbox:checked, .radio:checked {
      accent-color: #4CAF50;
    }

    .submit-button {
      font-family: inherit;
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      margin: 0;
      left: calc(50% - 2.5em);
      position: relative;
    }
    
    .submit-button:disabled {
      background-color: #ccc; /* Light gray */
      color: #666; /* Muted text color */
      cursor: not-allowed; /* Indicate the button is disabled */
      left: calc(50% - 6em);
    }    

    .comments {
      width: calc(100% - 2em);
      height: 10em;
      margin: 1em auto;
      margin-left: 1em;
    font-family: inherit;
      resize: none;
    
      box-sizing: border-box;
    }