body {
    font-family: Arial, sans-serif;
          background-image: url(https://pauldelaq.github.io/tremoji/css/background.png);
    
    color: #666;
    }
    
    h1 {
      color: #4CAF50;
    }
    
    header {
      text-align: center;
    }
    
    .emoji {
      width: auto;
      height: 28px;
      transform: translateY(2px);
    }
    
    .survey-container {
      background: #007bff;
      opacity: 65%;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em;
      margin-top: 2em;
      max-width: 60%;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 1em;
    }
    
    @media (max-width: 500px) {
    .survey-container {
      max-width: 80%;
    }
  }

    .survey-container label {
      color: #FFFFFF; 
      padding: 0.5em;
      
    }
    
    .survey-container p {
      color: #FFFFFF; 
      padding: 1em;
      
    }
    
    .form-section label,
    .form-section .form-field {
      display: inline-block;
      vertical-align: middle;
    }
    
    .form-section label {
      text-align: left;
      width: 140px;
    }
    
    .form-section .form-field {
      width: 150px;
      margin-left: 1em;
    }
  
    
    .role {
      margin-left: 1em;
    }
    
    .checkbox {
      margin-right: 1em;
    }
    
    .language-section {
      display: flex;
      flex-direction: column;
    
    }
    
    .radio-section {
      display: flex;
      flex-direction: column;
    }
    
    .radio {
      margin-right: 1em;
    }
    
    .submit-button {
      margin-left: 1em;
      
    margin-top: 1em;  
      font-family: inherit;
      
    }
    
    .comments {
      width: calc(100% - 2em);
      height: 10em;
      margin: 1em auto;
      margin-left: 1em;
    font-family: inherit;
      resize: none;
    
      box-sizing: border-box;
    }